<%= content_for :title, @list.name %>

<div class='main-panel'>
  <%= render 'layouts/partials/header' %>

  <div class="navbar navbar-default">
    <div class="row">
      <div class="col-sm-9">
        <p style="font-size: 24px; margin: 15px;">
          <%= best_in_place @list, :name, activator: "#edit_list_name", classes: "width-100" %> <%= link_to "Rename", '#', style: 'font-size: 12px;', id: "edit_list_name" %>
        </p>
      </div>

      <div class="col-sm-3 text-align-right">
        <%= link_to "Back to lists", lists_path, class: "btn btn-default back-to-lists-btn" %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= form_for [@list, Todo.new], remote: true do |f| %>
      <%= f.hidden_field :list_id, value: @list.id %>
      <div class="col-md-10">
        <%= f.text_field :description, placeholder: "Add new To-Do", class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Add", class: "btn btn-success col-xs-12" %>
      </div>
    <% end %>
  </div><br />

  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <div class="todolist not-done">
          <h1>Todo List</h1>
          <ul id="todos" class="list-unstyled sortable">
            <%= render @todos %>
          </ul>
          <div class="todo-footer">
            <strong><span class="count-todos"></span></strong> Items Left
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <div class="todolist">
          <h1>Completed</h1>
          <ul id="completed_todos" class="list-unstyled">
            <%= render partial: 'completed_todo', collection: @completed_todos, as: :todo %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
